.card-img-top {
    min-width: 8.2vw;
    align-self: center;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.card-body {
    border-radius: 2em;
    padding: 1.5em .5em .5em;
}

.card.border-dark.mb-3.text-center {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 2em;
}

.carousel-inner {
    border-radius: 3em;
}
